<footer class="text-center text-lg-start">

    <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
                <div class="p-3 text-white">
                    <i class="fa-regular fa-copyright"></i> Pictsque
                    <div class="vr bg-light"></div>
                    <a class="text-white ft" href="/about_us"> ABOUT US</a>
                    <div class="vr bg-light"></div>
                    <a class="text-white ft" href="/contact_us"> CONTACT US</a>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end text-white">
                <a class="btn btn-outline-light btn-floating m-1"  role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating m-1"  role="button"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1"  role="button"><i
                        class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" role="button"><i
                        class="fab fa-instagram"></i></a>
            </div>
            <!-- Grid column -->
        </div>
    </section>
</footer>

</body>

</html>