<%- include('./partials/header.ejs') %>
    <div class="container-fluid wrapper">
        <div class="mainContent mb-70">
            <div class="eachCat">
                <h3>About Us</h3>
            </div>
            <div class="m-60">
                <p>Welcome to Pictsque.</p>
                <p>Pictsque is a platform to organize, find, and trade art pieces. People use Pictsque to
                    meet other people of similar interests and/or traders and own the picturesque pieces.
                    If you are looking to meet for a new art trade or motivation to check new styles, you
                    are in the right place!</p>
                <p>You can go visit the trades page to check the available arts for tradings.</p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>