<%- include('./partials/header.ejs') %>
    <div class="container-fluid wrapper">
        <div class="mainContent mb-70">
            <div class="eachCat">
                <h3>Contact Us</h3>
            </div>
            <div class="m-60">
                <h4>Location</h4>
                <p>University of North Carolina, Charlotte, NC 28223</p>

                <h4>Our hours</h4>
                <p>8:00 AM – 8:00 PM EST</p>
                <p>Monday – Friday</p>

                <h4>Contact us</h4>
                <p>Phone: (123) 456-789</p>
                <p>Email: hprathip@uncc.edu</p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>