<%- include('./partials/header.ejs')%>
<div class="mainContent container-fluid wrapper">
    <h1 class="eachCat">Welcome to Pictsque!</h1>
    <br>
    <h5>Where people come to find, trade or give-away hand made arts.</h5>
    <br>
    <p>We support trading of paintings, crafts and sketches.
        <br><br>There are new items being added everyday.
    </p>
    <br>
    <br>
    <h3>HURRY UP!</h3>
</div>
<%- include('./partials/footer.ejs')%>